<!--<% if @bean.favorited_by?(current_user) %>-->
<!--  <p>-->
<!--    <%= link_to bean_favorites_path(@bean.id), method: :delete, remote: true do %>-->
<!--      <i class="fas fa-heart" aria-hidden="true" style="color: red; font-size: 32px;"></i>-->
<!--    <% end %>-->
<!--  </p>-->
<!--<% else %>-->
<!--    <%= link_to bean_favorites_path(@bean.id), method: :post, remote: true do %>-->
<!--      <i class="fas fa-heart" aria-hidden="true" style="font-size: 32px; margin-left:"></i>-->
<!--    <% end %>-->
<!--<% end %>-->
<!--上記ではpが入っていて１レムか２レムかのフォントサイズが違う-->


<!--<% if bean.favorited_by?(current_user) %>-->
<!--  <%= link_to bean_favorites_path(bean.id), method: :delete, remote: true do %>-->
<!--    <i class="fas fa-heart" aria-hidden="true" style="color: red;font-size: 1rem;"></i>-->
<!--  <% end %>-->
<!--<% else %>-->
<!--  <%= link_to bean_favorites_path(bean.id), method: :post, remote: true do %>-->
<!--    <i class="fas fa-heart" aria-hidden="true" style="font-size: 1rem;"></i>-->
<!--  <% end %>-->
<!--<% end %>-->