<h3><strong>"NOW" in a cup of COFFEE.</strong></h3>
<p>日々、暮らしの中で感じるささやかな癒し</p>
<p>cup of happiness</p>
<p>
焙煎やコーヒ豆の鮮度にこだわったいっぱいがそこにはあります。<br>
お店それぞれのオリジナリティ溢れる香り、コク、風味、味。<br>
そのひとつひとつが今のコーヒー好きを虜にします。<br>
街の雰囲気や文化を取り込んださまざまな味わいのコーヒーを探してみませんか。
</p>
<p>neighborhood coffee shop</p>
<p>trendy coffee shop</p>
<p>old fashioned coffee shop</p>


<p>いろんなカタチのいろんな味わいを探してみましょう。</p>