@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway&family=Zen+Maru+Gothic&display=swap');
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~swiper/swiper-bundle';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', 'Zen Maru Gothic', sans-serif;
  line-height: 1.8; // 行間隔
  letter-spacing: .1rem; // 文字間隔
  color: #212529;

}

/*========= ナビゲーションのためのCSS ===============*/
#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
	top: 0;
  right: -120%;
	width: 100%;
  height: 100vh;/*ナビの高さ*/
	background: #752B1C;
  /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;/*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
  text-align: center;
}

#g-nav li a{
	color: #fff;
	text-decoration: none;
	padding: 10px;
	display: block;
// 	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position: fixed;
  z-index: 9999;/*ボタンを最前面に*/
	top: 10px;
	right: 10px;
	cursor: pointer;
  width: 50px;
  height: 50px;
}

/*×に変化*/
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
	background-color: #000;
  width: 45%;
}



.openbtn span:nth-of-type(1) {
	top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

// トップページメインビジュアル
.mv {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.mv-text {
  font-family: 'Josefin Sans', sans-serif;
}

.add-contents{
  margin: 32px 0;
  max-width: 80%;
}

.card:hover{
  background-color: #E2E5E5;
}

.s-show-img-trimmimg:hover{
  background-color: #24586B;
}


// aタブの下線を無くして、文字色も変わらないように設定
.link-text{
  color:inherit;
  text-decoration: none;
  border-bottom: 1px solid #212529;
}

.b-index-img-trimming{
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.b-show-img-trimming{
  width: 90%;
  height: 490px;
  object-fit: cover;
}

.s-show-img-trimmimg{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.user-show-page{
  margin: 5rem 0;
  margin-left: 9rem;
  line-height: 60px;
}

.contents-img{
  width: 80%;
  height: 380px;
  object-fit: cover;
}

.contents-sm-img{
  width: 100%;
  height: 40px;
  object-fit: cover;
}



/*========= ローディング画面のためのCSS ===============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: #333;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.splashbg{
    display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg{
    display: block;
    content: "";
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	left: 0;
    transform: scaleY(0);
    background-color: #333;/*伸びる背景色の設定*/
	animation-name:PageAnime;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
}

@keyframes PageAnime{
	0% {
		transform-origin:top;
		transform:scaleY(0);
	}
	50% {
		transform-origin:top;
		transform:scaleY(1);
	}
	50.001% {
		transform-origin:bottom;
	}
	100% {
		transform-origin:bottom;
		transform:scaleY(0);
	}
}

/*画面遷移の後現れるコンテンツ設定*/
#container{
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}