<div class="row add-contents">
    <%= link_to "+", new_bean_path, class:"btn btn-lg btn-outline-secondary ml-auto mb-5 mr-1" %>
    <span class="search-bar-container btn btn-lg btn-outline-light border border-secondary mb-5 ml-3">
      <a href="#" id="search-button"><i class="fa fa-search"></i></a>
      <div class="search-bar d-none">
        <%= render partial: 'searches/search', locals: { users: @users, beans: @beans, stores: @stores } %>
      </div>
    </span>
  </div>